$font: "SF Display", "Noto Sans Thai UI", sans-serif;
$font-semibold: "Noto Sans", "Noto Sans Thai UI Semibold", sans-serif;
$shadow: 0 10px 15px 0 #00000048;

.profile-box {
  width: 1000px;
  margin-left: 100px;
  padding-right: 20px;
  border-radius: 10px;
  box-shadow: $shadow;
  display: block;
  background: #f1f1f1;

  h {
    margin: auto;
    padding-top: 1%;
    display: flex;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    object-fit: scale-down;
  }

  .profile-img {
    height: 150px;
    width: 150px;
    display: flex;
    margin: auto;
    padding: 2%;
    justify-content: center;
    align-items: center;
    object-fit: scale-down;
  }

  .profile-detail {
    padding-top: 2%;
    padding-left: 5%;
    padding-bottom: 5%;
    font-size: 20px;
    display: flex;
    flex-direction: column;

    br {
      display: block;
      content: "";
      border-bottom: 20px solid transparent;
    }
  }

  img {
    width: 100%;
  }
}
