$font: "Roboto",
"Noto Sans Thai UI",
sans-serif;
$font-semibold: "Roboto Bold",
"Noto Sans Thai UI Semibold",
sans-serif;
$shadow: 0 3px 6px 0 #00000048;

.password-box {
  width        : 1000px;
  border-radius: 10px;
  box-shadow   : $shadow;
  display      : block;
  background   : #f1f1f1;

  h {
    margin         : auto;
    padding-top    : 10px;
    display        : flex;
    font-size      : 25px;
    justify-content: center;
    align-items    : center;
    object-fit     : scale-down;
  }

  .form-group {
    width         : 100%;
    margin-top    : 20px;
    display       : flex;
    flex-direction: column;

    input {
      width           : 900px;
      box-shadow      : 0 3px 6px 0 #00000041;
      margin-top      : 5px;
      height          : 37px;
      box-sizing      : border-box;
      padding         : 0 10px;
      font-size       : 16px;
      font-family     : "Noto Sans Thai UI", sans-serif;
      background-color: white;
      border          : 0px;
      border-radius   : 5px;
      margin-bottom   : 10px;
      transition      : all 250ms ease-in-out;

      &:focus {
        box-shadow: 0 7px 20px 2px #00000067;
        outline   : none;
      }
    }
  }

  .password-img {
    height         : 150px;
    width          : 150px;
    display        : flex;
    margin         : auto;
    padding        : 20px;
    justify-content: center;
    align-items    : center;
    object-fit     : scale-down;
  }

  .password-detail {
    padding-top   : 20px;
    padding-left  : 50px;
    padding-bottom: 50px;
    font-size     : 20px;
    display       : flex;
    flex-direction: column;

    p#input-error {
      padding         : 5px 0;
      font-size       : 18px;
      font-weight     : normal;
      font-family     : 'Roboto', 'Noto Sans Thai UI', sans-serif;
      color           : white;
      background-color: rgb(255, 38, 38);
      box-shadow      : 0 0 7px 0 rgb(255, 38, 38);
      width           : 900px;
      border-radius   : 5px;
      justify-content : center;
      display         : flex;
      align-items     : center;
    }

    p#sent-forgot {
      padding         : 5px 0;
      font-size       : 18px;
      font-weight     : normal;
      font-family     : 'Roboto', 'Noto Sans Thai UI', sans-serif;
      color           : white;
      background-color: rgb(51, 194, 51);
      box-shadow      : 0 0 7px 0 rgb(43, 194, 43);
      width           : 900px;
      border-radius   : 5px;
      justify-content : center;
      display         : flex;
      align-items     : center;
    }

    .button {
      margin-top: 30px;

      .btn {
        width           : 200px;
        height          : 45px;
        font-size       : 18px;
        font-family     : 'Roboto Bold', 'Noto Sans Thai UI Semibold', sans-serif;
        border-radius   : 5px;
        border          : 0;
        color           : white;
        background-color: #ff9100;
        transition      : all 300ms ease-in-out;
        box-shadow      : 0 0 7px 0 #ff9100da;
        cursor          : pointer;

        &:hover {
          background-color: #ffa32b;
          box-shadow      : 0 0 10px 3px #ff9100da;
        }

        &:focus {
          outline: none;
        }

        &:disabled {
          width           : 200px;
          height          : 45px;
          padding         : 3px;
          cursor          : not-allowed;
          background-color: #df8e25;
          box-shadow      : 0 0 16px 3px #ffffff00;
        }
      }
    }

    br {
      display      : block;
      content      : "";
      border-bottom: 20px solid transparent;
    }
  }

  img {
    width: 100%;
  }
}