.error {
  padding-top        : 130px;
  height             : 100vh;
  background-image   : url("../../assets/error.jpg");
  background-size    : cover;
  background-repeat  : no-repeat;
  background-position: top center;
  overflow           : hidden;
  position           : relative;

}

.btn-b {
  position        : absolute;
  top             : 80%;
  left            : 50%;
  transform       : translate(-50%, -50%);
  font-size       : 18px;
  font-family     : 'Noto Sans Thai UI Semibold', sans-serif;
  padding         : 10px 50px;
  border          : 0;
  border-radius   : 5px;
  color           : white;
  background-color: #0084ff;
  transition      : all 300ms ease-in-out;
  box-shadow      : 0 3px 16px 0 #349dff;
  cursor          : pointer;

  &:hover {
    background-color: #3ea2ff;
  }

  &:focus {
    outline: none;
  }
}