.footer-container {
  height         : 75px;
  background     : #2c2c2c;
  font-family    : inherit;
  color          : white;
  display        : flex;
  flex-direction : row;
  justify-content: center;
  text-align     : center;
}