@font-face {
  font-family: "Noto Sans Thai UI";
  src        : url(../../assets/fonts/noto_thai/NotoSansThaiUI-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Noto Sans Thai UI Semibold";
  src        : url(../../assets/fonts/noto_thai/NotoSansThaiUI-SemiBold.ttf) format("truetype");
}

$font: "Roboto",
"Noto Sans Thai UI",
sans-serif;
$font-semibold: "Roboto Bold",
"Noto Sans Thai UI Semibold",
sans-serif;
$shadow: 0 3px 6px 0 #00000048;

.user-main {
  width          : 100%;
  display        : flex;
  flex-direction : row;
  justify-content: center;

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 7px 0;
  }

  ul {
    width          : 150px;
    height         : fit-content;
    list-style     : none;
    line-height    : 2.5em;
    margin         : 130px 15px 0 0;
    cursor         : pointer;
    text-decoration: none;
    color          : black;

    .selected {
      transition      : all 200ms ease-in-out;
      font-weight     : bold;
      color           : #ff9100;
      background-color: #ff91002f;
      border-radius   : 5px;
    }

    .image-head {
      width          : 50px;
      height         : 50px;
      display        : flex;
      padding-bottom : 10%;
      justify-content: center;
      align-items    : center;
      object-fit     : scale-down;
    }

    .btn {
      font-size       : 18px;
      font-family     : 'Roboto Bold', 'Noto Sans Thai UI Semibold', sans-serif;
      padding         : 10px 44px;
      border-radius   : 5px;
      border          : 0;
      color           : white;
      background-color: #ff9100;
      transition      : all 300ms ease-in-out;
      box-shadow      : 0 0 7px 0 #ff9100da;
      cursor          : pointer;

      &:hover {
        background-color: #ffa32b;
        box-shadow      : 0 0 10px 3px #ff9100da;
      }

      &:focus {
        outline: none;
      }
    }
  }

  .user-component {
    margin: 130px 0 1em 0;
  }
}