$font: "SF Display", "Noto Sans Thai UI", sans-serif;
$font-semibold: "Noto Sans", "Noto Sans Thai UI Semibold", sans-serif;
$shadow: 0 10px 15px 0 #00000048;

.mystatement-box {
  width: 1000px;
  padding-bottom: 3%;
  margin-left: 100px;
  padding-right: 20px;
  border-radius: 10px;
  box-shadow: $shadow;
  display: block;
  background: #f1f1f1;

  h {
    margin: auto;
    padding-top: 3%;
    padding-left: 3%;
    display: flex;
    font-size: 25px;
    justify-content: left;
    align-items: center;
    object-fit: scale-down;
  }

  .mystatement-table {
    width: 1020px;
    padding-top: 1.5%;

    table {
      width: 1020px;

      tr {
        padding: 10%;

        td {
          background-color: white;
          align-items: center;
          text-align: center;
        }
      }
    }
  }

  .page{
    font-size: 20px;
    padding-left: 38%;
    
    .btn{
      font-size: 25px;
      margin:  5% 3% 0% 3%;
      padding: 0px 8px 0px 8px;
      border: 0;
      border-radius: 5px;
      color: white;
      background-color: #ff9100;
      cursor: pointer;
    }

    .btnClose{
      font-size: 25px;
      margin:  5% 3% 0% 3%;
      padding: 0px 8px 0px 8px;
      border: 0;
      border-radius: 5px;
      color: white;
      background-color: #ff9100;
      opacity: 0.6;
      pointer-events: none;
    }
  }

}
