.react-slideshow-container+div.indicators {
  margin-top: 10px;
}

.react-slideshow-container .nav:first-of-type {
  margin-right : -30px;
  border-radius: 0 5px 5px 0;
}

.react-slideshow-container .nav:last-of-type {
  margin-left  : -30px;
  border-radius: 5px 0 0 5px;
}

a {
  text-decoration: none;
}

.slide-container {
  width        : 100%;
  border-radius: 10px;

  .each-slide {

    div {
      display        : flex;
      align-items    : center;
      justify-content: center;
      background-size: cover;
      height         : 230px;
      border-radius  : 10px;
    }

    .covid-banner {
      display              : grid;
      grid-template-columns: 400px 200px 200px;
      grid-template-rows   : 20px 80px 80px;
      grid-gap             : 10px;
      align-content        : center;
      color                : white;
      // cursor               : default;

      h1 {
        font-size   : 22px;
        grid-column : 1 / span 4;
        grid-row    : 1;
        justify-self: center;
        color       : black;
      }

      .item1 {
        grid-row       : 2 / span 3;
        grid-column    : 1;
        height         : 180px;
        border-radius  : 20px;
        background     : linear-gradient(330deg, rgba(156, 0, 84, 1) 0%, rgba(230, 0, 0, 1) 100%);
        text-decoration: none;

        .today {
          display       : flex;
          flex-direction: column;
          height        : 180px;
          margin        : 0;

          p {
            margin         : 0;
            display        : flex;
            align-items    : center;
            justify-content: center;
          }

          h2 {
            margin: 0;
          }
        }
      }

      .item2 {
        grid-row     : 2 / span 3;
        grid-column  : 2;
        height       : 180px;
        border-radius: 20px;
        background   : linear-gradient(135deg, rgba(141, 203, 10, 1) 0%, rgba(7, 168, 61, 1) 100%);

        .treat {
          display       : flex;
          flex-direction: column;
          height        : 180px;
          margin        : 0;

          p {
            margin         : 0;
            display        : flex;
            align-items    : center;
            justify-content: center;
          }

          h2 {
            margin: 0;
          }
        }
      }

      .item3 {
        grid-row     : 2 / span 3;
        grid-column  : 3;
        height       : 180px;
        border-radius: 20px;
        background   : linear-gradient(321deg, rgba(46, 46, 46, 1) 0%, rgba(64, 64, 64, 1) 100%);

        .death {
          display       : flex;
          flex-direction: column;
          height        : 180px;
          margin        : 0;

          p {
            margin     : 0;
            display    : flex;
            align-items: center;
          }

          h2 {
            margin: 0;
          }
        }
      }
    }

    iframe {
      width        : 100vw;
      height       : calc(100vw/1.77);
      border-radius: 10px;
    }

    video {
      width        : 100vw;
      height       : calc(100vw/6.669);
      border-radius: 10px;
    }


    span {
      padding   : 20px;
      font-size : 20px;
      background: #efefef;
      text-align: center;
    }
  }
}