$font : 'Roboto',
'Noto Sans Thai UI',
sans-serif;
$font-semibold : 'Roboto',
'Noto Sans Thai UI Semibold',
sans-serif;
$shadow : 0 0 10px 0 #00000048;

.product-box {
  width         : 350px;
  height        : 150px;
  margin        : 7px 8px;
  float         : left;
  border-radius : 10px;
  display       : flex;
  flex-direction: row;
  align-items   : center;
  transition    : 200ms all ease-in-out;
  background    : white;
  cursor        : pointer;

  &:hover {
    box-shadow: $shadow;
  }

  .b-product-img {
    height         : 150px;
    width          : 150px;
    display        : flex;
    justify-content: center;
    align-items    : center;
    object-fit     : scale-down;

    img {
      width        : 100%;
      border-radius: 10px 0 0 10px;
    }
  }

  .b-details {
    padding       : 1em;
    display       : flex;
    flex-direction: column;
    color         : black;

    .b-product-title {
      font-size  : 20px;
      font-family: $font-semibold;
      font-weight: bold;
    }

    .b-product-description {
      font-family: $font;

      p {
        margin         : 0;
        display        : flex;
        align-items    : center;
      }
    }

    .b-product-price {
      font-family: $font-semibold;
      font-weight: bold;
      font-size  : 30px;
      color      : red;
    }
  }
}