$font : 'Roboto',
'Noto Sans Thai UI',
sans-serif;
$font-semibold : 'Roboto Bold',
'Noto Sans Thai UI Semibold',
sans-serif;
$shadow : 0 3px 6px 0 #00000048;

.cate-main {
  width : 100%;
  height: fit-content;

  .head {
    font-family  : $font-semibold;
  }
}

a {
  text-decoration: none;
  color          : black;
}

ul {
  padding-left: 0;
  list-style  : none;
  line-height : 2em;
}

li {
  transition: 200ms all cubic-bezier(0.68, -0.55, 0.27, 1.55);
  cursor    : pointer;

  &:hover {
    color        : #0082FF;
    font-size    : 20px;
    border-radius: 5px;
  }
}