$font : 'Roboto',
'Noto Sans Thai UI',
sans-serif;
$font-semibold : 'Roboto Bold',
'Noto Sans Thai UI Semibold',
sans-serif;
$shadow : 0 3px 6px 0 #00000048;

.cate-main {
  width : 100%;
  height: fit-content;

  .head {
    font-family: $font-semibold;
  }

  a {
    text-decoration: none;
    color          : black;
  }

  ul {
    padding-left: 0;
    list-style  : none;
    line-height : 2em;

    li {
      transition: all 100ms ease-in-out;
      cursor    : pointer;

      &:hover {
        color           : orange;
        // font-size    : 20px;
        border-radius   : 5px;
      }
    }

    li#selected {
      transition      : all 200ms ease-in-out;
      font-family     : $font-semibold;
      color           : orange;
      background-color: rgba(255, 166, 0, 0.11);
      border-radius   : 5px;
      cursor          : pointer;

      &:hover {
        color        : orange;
        font-size    : 17px;
        border-radius: 5px;
      }
    }
  }
}