.topup-main {
  align-items: center;
  margin     : auto auto;
  text-align : left;
  padding-top: 150px;

  .topup-wrap {
    display        : flex;
    flex-direction : row;
    justify-content: center;

  }

  .topup-banner {

    img {
      border-radius: 20px 0 0 20px;
      box-shadow   : 0 4px 6px 0 #00000071;
    }
  }

  .topup-container {
    padding         : 0 2em;
    width           : 400px;
    height          : 375px;
    background-color: #ebebeb;
    border-radius   : 0 20px 20px 0;
    align-items     : center;
    box-shadow      : 0 3px 6px 0 #00000048;

    .form-group {
      width         : 100%;
      display       : flex;
      flex-direction: column;

      label {
        font-family: 'Roboto', 'Noto Sans Thai UI', sans-serif;
        font-size  : 20px;
      }

      input {
        width           : 100%;
        box-shadow      : 0 3px 6px 0 #00000041;
        margin-top      : 5px;
        height          : 37px;
        box-sizing      : border-box;
        padding         : 0 10px;
        font-size       : 16px;
        font-family     : 'Roboto', 'Noto Sans Thai UI', sans-serif;
        background-color: #ffffff;
        border          : 0px;
        border-radius   : 5px;
        margin-bottom   : 10px;
        transition      : all 250ms ease-in-out;

        &:focus {
          box-shadow: 0 7px 20px 2px #00000067;
          outline   : none;
        }
      }
    }

    .extra {
      font-family  : 'Roboto', 'Noto Sans Thai Ui', sans-serif;
      margin-bottom: 2em;

      a {
        color     : #0082FF;
        transition: all 100ms ease-in-out;

        &:hover {
          color: #49a7ff;
        }
      }

      p {
        margin: 0;
      }
    }

    .button-wrapper {
      flex-wrap     : wrap;
      display       : flex;
      flex-direction: row;
      float         : right;
      margin-top    : 8em;

      .btn {
        font-size       : 18px;
        font-family     : 'Roboto Bold', 'Noto Sans Thai UI Semibold', sans-serif;
        padding         : 10px 50px;
        border-radius   : 5px;
        border          : 0;
        color           : white;
        background-color: #ff9100;
        transition      : all 300ms ease-in-out;
        box-shadow      : 0 0 7px 0 #ff9100da;
        cursor          : pointer;

        &:hover {
          background-color: #ffa32b;
          box-shadow      : 0 0 16px 3px #ff9100da;
        }

        &:focus {
          outline: none;
        }
      }
    }
  }

  .footer {
    display       : flex;
    flex-direction: row;
    align-items   : flex-start;
    padding       : 3em 0;
  }
}