@font-face {
  font-family: 'Noto Sans';
  src: url(./assets/fonts/noto/NotoSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: 'Noto Sans Semibold';
  src: url(./assets/fonts/noto/NotoSans-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: 'Noto Sans Thai UI';
  src: url(./assets/fonts/noto_thai/NotoSansThaiUI-Regular.ttf) format("truetype");
}

@font-face {
  font-family: 'Noto Sans Thai UI Semibold';
  src: url(./assets/fonts/noto_thai/NotoSansThaiUI-SemiBold.ttf) format("truetype");
}

.App {
  width: 100%;
  height: 100vh;
}