.page-container {
	width     : 100%;
	position  : relative;
	min-height: 100vh;

	footer {
		clear     : both;
		position  : relative;
		height    : 75px;
		margin-top: -75px;
	}
}

#loader {
	position       : fixed;
	top            : 0;
	left           : 0;
	width          : 100%;
	height         : 100%;
	display        : flex;
	justify-content: center;
	align-items    : center;
}