.welcome-main {
  margin-top : 130px;
  font-family: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;

  .head-text {
    font-family: inherit;
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 50px;
  }

  .button-wrapper {
    flex-wrap     : wrap;
    display       : flex;
    flex-direction: row;

    .btn {
      font-size       : 18px;
      font-family     : 'Noto Sans Thai UI Semibold', sans-serif;
      padding         : 10px 50px;
      border-radius   : 5px;
      border          : 0;
      color           : white;
      background-color: #ff9100;
      transition      : all 300ms ease-in-out;
      box-shadow      : 0 0 7px 0 #ff9100da;
      cursor          : pointer;

      &:hover {
        background-color: #ffa32b;
        box-shadow      : 0 0 16px 3px #ff9100da;
      }

      &:focus {
        outline: none;
      }
    }

    .btn_s {
      font-size       : 18px;
      font-family     : 'Noto Sans Thai UI Semibold', sans-serif;
      padding         : 10px 50px;
      border-radius   : 5px;
      margin-right    : 1em;
      border          : 0;
      transition      : all 300ms ease-in-out;
      color           : #0082FF;
      background-color: #ffffff00;
      box-shadow      : none;
      cursor          : pointer;

      &:hover {
        background-color: #ffffff5b;
      }

      &:focus {
        outline: none;
      }
    }
  }
}